<div class="container">
  <div style="text-align: center">
    <br />
    <h1>Welcome to {{ title }}!</h1>
    <img
      width="300"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  </div>
  <br />
  <h2>Here are some links to help you start:</h2>
  <ul>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
          >Tour of Heroes</a
        >
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/cli"
          >CLI Documentation</a
        >
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/"
          >Angular blog</a
        >
      </h2>
    </li>
  </ul>
  <hr />
  <br />
  <h1 id="1"><b>#1 Getting Started</b></h1>
  <br /><br />
  <h3><b>Course Structure</b></h3>
  <br />
  <ul>
    <li>
      <b><a href="#1">1. Getting Started</a></b>
    </li>
    <li>
      <b><a href="#2">2. The Basics</a></b>
    </li>
    <li>
      <b><a href="#3">3. Components & Databinding</a></b>
    </li>
    <li>
      <b><a href="#4">4. Directives</a></b>
    </li>
    <li>
      <b><a href="#5">5. Services & Dependency Injection</a></b>
    </li>
    <li>
      <b><a href="#6">6. Rounting</a></b>
    </li>
    <li>
      <b><a href="#7">7. Observables</a></b>
    </li>
    <li>
      <b><a href="#8">8. Forms</a></b>
    </li>
    <li>
      <b><a href="#9">9. PIpes</a></b>
    </li>
    <li>
      <b><a href="#10">10. HTTP</a></b>
    </li>
    <li>
      <b><a href="#11">11. Authentication</a></b>
    </li>
    <li>
      <b><a href="#12">12. Optimizations & NgModules</a></b>
    </li>
    <li>
      <b><a href="#13">13. Deployment</a></b>
    </li>
    <li>
      <b><a href="#14">14. Animations & Testing</a></b>
    </li>
  </ul>
  <br /><br />
  <h3><b>Whats is Angular?</b></h3>
  <br />
  <p>
    Angular is Javascript Framework which allows you to create reactive
    Single-Page-Applications (SPAs)<br /><br />
    A SPA is single html file where you can navigate between different pages,
    but never actually leave that html, with the changes being rendered in the
    browser. It gives user a very reactive experience, creating a web
    application which looks and feel like mobile apps, very fast and instant.
    The data from server is loaded in the backgorund to user not need to leave
    the page and wait it to load again events.
    <br /><br />
    It's possible because JS changes the DOM during the runtime, thats why we
    don't see a load page, because where changing just the current page.
  </p>
  <br /><br />
  <h3><b>CLI Deep Dive & Troubleshooting</b></h3>
  <br />
  <p>
    If you want to dive deeper into the CLI and learn more about its usage, have
    a look at its official documentation:
    <a href="https://github.com/angular/angular-cli/wiki"
      >https://github.com/angular/angular-cli/wiki</a
    >
    <br /><br />
    <b
      >You encountered issues during the installation of the CLI or setup of a
      new Angular project?</b
    >
    <br /><br />
    A lot of problems are solved by making sure you're using the latest version
    of NodeJS, npm and the CLI itself.
    <br /><br />
    <b>Updating NodeJS:</b><br /><br />

    Go to <a href="nodejs.org">nodejs.org</a> and download the latest version -
    uninstall (all) installed versions on your machine first. <br /><br />
    <b>Updating npm:</b>
    <br /><br />
    Run <span class="code">[sudo] npm install -g npm</span> (<i>sudo</i> is only
    required on Mac/ Linux) <br /><br />
    <b>Updating the CLI</b>
    <br /><br />
    <span class="code">[sudo] npm uninstall -g angular-cli @angular/cli</span
    ><br /><br />
    <span class="code">npm cache verify</span><br /><br />
    <span class="code">[sudo] npm install -g @angular/cli</span><br /><br />

    <b>Here are some common issues & solutions:</b> <br /><br />
    <b>1. Creation of a new project takes forever (longer than 3 minutes)</b
    ><br />That happens on Windows from time to time => Try running the command
    line as administrator<br /><br />
    <b>2. You get an EADDR error (Address already in use)</b><br />
    You might already have another ng serve process running - make sure to quit
    that or use <span class="code">ng serve --port ANOTHERPORT</span> to serve
    your project on a new port<br /><br />
    <b>3. My changes are not reflected in the browser (App is not compiling)</b
    ><br />
    Check if the window running <span class="code">ng serve</span> displays an
    error. If that's not the case, make sure you're using the latest CLI version
    and try restarting your CLI
  </p>
  <br /><br />
  <h3><b>Project Setup and First App</b></h3>
  <br />
  <p>
    For that, we'll use CLI, the official Angular command line interface. It's
    the recommended way to create Angular projects because they're more complex
    regarding their build workflow<br /><br />
    <b>1. Installing latest version of <a href="nodejs.org">Node.js</a></b
    ><br /><br />
    <b>2. Installing Angular</b><br /><br />
    Run <span class="code">npm install -g @angular/cli@latest</span> (@latest is
    optional)<br /><br />
    <b>3. Create you Angular project</b><br /><br />
    Navigate to the folder that you want to create the project (cd path/...) and
    run <span class="code">ng new project-name</span><br />CLI will give some
    choices to do to config the project the way you want.<br /><br />
    When it finished, navigate to your project folder and run
    <span class="code">ng serve</span><br /><br />
    The server runs at the <a href="localhost:4200">localhost:4200</a> by
    default <br /><br />
    <b>4. Installing and Config Bootstrap</b><br /><br />
    In your terminal/cmd, run
    <span class="code">npm install --save bootstrap@latest </span><br />(here
    we're installing it locally, without the <i>-g</i>)<br /><br />
    After finished, open your <i>angular.json</i> file and in the
    <i>styles:</i> key, add the bootstrap file path localed in the
    <i>node_modules</i> folder:<br /><br />
    <i
      >"styles": [<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"src/styles.scss",<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"src/stylesheet.css",<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"node_modules/bootstrap/dist/css/bootstrap.min.css",<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"node_modules/bootstrap/scss/bootstrap.scss"<br />
      ],</i
    ><br /><br />
    You can add any stylesheet file you need.
  </p>
  <br /><br />
  <h3><b>What is Typescript ?</b></h3>
  <br />
  <p>
    It's a superset of JS, with more feature than Vanilla JS (e.g. Types,
    Classes, Interfaces,...). The code errors can be verify while you write, and
    not just when you run it.<br />
    But TS is not execute in the browser, so it's compiled to JS in the end by
    the the Angular project manager CLI
  </p>
  <br /><br />
  <h3><b>About the Course Code / Code Snapshots</b></h3>
  <br />
  <p>
    <b>Do you get some strange error? Are you stuck?</b><br /><br />
    <b>One important note:</b> All the course code will only work if you are
    <b>NOT using "strict mode"</b> see the "First App" lecture in this module.
    Strict mode forces you to write more verbose code in some places (especially
    when it comes to class properties). If you enabled it by accident, you can
    also disable it by setting <span class="code">strict: false</span> in your
    <span class="code">tsconfig.json</span> file.<br /><br />Due to dependency
    version mismatches, running the attachments might fail though - in that
    case, you can try the following:<br /><br />
    1&rpar; Create a new project via
    <span class="code">ng new my-project --strict false</span> (the
    <span class="code">--strict false</span> part is important!)<br />
    2&rpar; Copy the content of the ZIP attachment
    <span class="code">src/app</span> folder into the newly created project
    <span class="code">src/app</span> folder. <br />3&rpar; Run your project
    (<span class="code">my-project</span>) via
    <span class="code">ng serve</span>
    If you're getting errors when running <span class="code">npm install</span>,
    you can often solve them by running
    <span class="code">npm install --legacy-peer-deps</span> instead of
    <span class="code">npm install</span>
  </p>
  <br /><br /><br />
  <h1 id="2"><b>#2 The Basics</b></h1>
  <br />
  <br /><br />
  <h3><b>How an Angular App gets Loaded and Started</b></h3>
  <br />
  <p>
    The 'single-page' serve by the server is the <b><i>index.html</i></b> and
    inside it, we have the <b><i>'app-root'</i></b> selector, which was defined
    in the <b><i>app.component.ts</i></b
    >. So the content that we see first when the server is running at
    <a href="localhost:4200">localhost:4200</a>, is the content inside
    <b><i>app.component.html</i></b
    ><br /><br />
    The <b><i>'app.component'</i></b> is the component that CLI created for us
    and the one that will tie everything together at the end, the
    <b>root component</b>. And when <span class="code">'ng serve'</span> is run,
    it will inject the right package bundles and scripts to build the app, that
    we don't see in the index file, but can be seeing in a quick web page
    inspection.<br /><br />
    The first code that is requested when we start the app (<span class="code"
      >ng-serve</span
    >) is the <b><i>main.ts</i></b
    >, where we import <b><i>app.module.ts</i></b
    >, and we indicate it to be started with the server in the line
    <span class="code">platformBrowserDynamic().bootstrapModule(AppModule)</span
    >.<br /><br />
    This method will reach the <b><i>'app.module.ts'</i></b
    >, where we have a bootstrap array, which receive the component that should
    be consider in the app start moment by this bootstrap method.<br />
    In this array, we indicate the <b><i>AppComponent</i></b
    >, that will have its content 'read' by bootstrap method when the app will
    be started and that holds the selector <b><i>'app-root'</i></b
    >, which is included in the <b><i>index.html</i></b> (the
    <i>'single-page'</i>), closing the 'cycle'.<br /><br />
    <img src="../assets/images/graf-angularstar.svg" style="width: 100%" />
  </p>
  <br /><br />
  <h3><b>Components are important!</b></h3>
  <br />
  <p>
    The Angular application is basically composed by a bunch of other components
    inside the 'root' component. The benefits of this kind of structure are:
  </p>
  <ul>
    <li>Reusability</li>
    <li>Personalization</li>
    <li>Easy to update</li>
  </ul>
  <br /><br />
  <h3><b>Creating a new Component</b></h3>
  <br />
  <p>Before create a new component, some rules:</p>
  <ul>
    <li>
      Any other components will <b>not be added</b> to index.html. There must be
      remain just the <i>'app-root'</i>
    </li>
    <li>
      As it is with index.html, any other component <b>won't be added</b> to
      <b>'bootstrap:[ ]'</b> in the 'app.module.ts', there must remain just the
      'AppComponent'
    </li>
    <li>
      <b>New components</b> create inside the App Component folder, will be
      added to <b>'declarations:[ ]'</b> in the 'app.module.ts'; It goes for for
      any other new module with new components
    </li>
  </ul>
  <br />
  <p class="obs">
    *For this lecture, the 'server' component was created manually
  </p>
  <p>1. In your IDE, create 'server' folder inside the 'app' folder</p>
  <p>
    2. Inside 'server' folder, create <i>'server.component.html'</i> and
    <i>'server.component.ts'</i>
  </p>
  <p>
    3. Then in <i>'server.component.ts'</i>, we will create the configuration
    for this component:
  </p>
  <span class="code" style="border: none">
    import &lbrace; Component &rbrace; from '@angular/core'; <br /><br />
    @Component(&lbrace;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;selector: 'app-server',<br />
    &nbsp;&nbsp;&nbsp;&nbsp;templateUrl: './server.component.html'<br />
    &nbsp;&nbsp;&nbsp;&nbsp;styleUrls: ['./server.component.scss'],
    <br />&rbrace;)<br /><br />
    export class ServerComponent &lbrace;&rbrace; </span
  ><br /><br />
  4. Add the component to the <b><i>app.module.ts</i></b
  >:<br /><br />
  <span class="code" style="border: none">
    declarations: [<br />
    &nbsp;&nbsp;&nbsp;&nbsp;AppComponent, ServerComponent <br />]
  </span>
  <br /><br />
  <h3><b>Understanding the Role of AppModule and Component Declaration</b></h3>
  <br />
  <p>The 'server' component selector is now added below:</p>
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-servers></app-servers></div>
  </div>
  <br /><br /><br />
  <h3><b>Creating Components with the CLI & Nesting Components</b></h3>
  <br />
  <p>
    Open a new terminal/CLI (to not close where server is running), and run:
  </p>
  <span class="code">ng generate component name-component</span><br />
  <span class="obs"
    >*The component will be automatically created inside the app folder</span
  ><br /><br />
  <p>
    The <b><i>'app-server'</i></b> was added inside the
    <b><i>'app-servers'</i></b
    >, allows us to use them separatelly or inside other components as below:
  </p>
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-servers></app-servers></div>
  </div>
  <!-- <div app-servers></div> -->
  <!-- <div class="app-servers"></div> -->
  <br /><br /><br />
  <h3><b>Working with Components templates</b></h3>
  <br />
  <p>
    In this case, the template is define in the Typescript file, as we're doing
    in the <b><i>'server.component'</i></b
    >:
  </p>
  <br />
  <span class="code" style="border: none">
    import &lbrace; Component &rbrace; from '@angular/core';
    <br /><br />
    @Component(&rbrace;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;selector: 'app-servers',<br />
    &nbsp;&nbsp;&nbsp;&nbsp;template:
    '&lt;app-server&gt;&lt;/app-server&gt;&lt;app-server&gt;&lt;/app-server&gt;',<br />
    &nbsp;&nbsp;&nbsp;&nbsp;styleUrls: ['./servers.component.sass'],<br />
    &rbrace;)<br /><br />
    export class ServersComponent &lbrace;&rbrace; </span
  ><br /><br />
  Resulting in this (the same as before):<br /><br />
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-servers></app-servers></div>
  </div>
  <!-- <div app-servers></div> -->
  <!-- <div class="app-servers"></div> -->
  <br /><br />
  <p>
    To use multiple lines at the <b><i>'template'</i></b
    >, use <b>` `</b> instead <b>' '</b>
  </p>
  <span class="code" style="border: none">
    import &lbrace; Component &rbrace; from '@angular/core';
    <br /><br />
    @Component(&rbrace;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;selector: 'app-servers',<br />
    &nbsp;&nbsp;&nbsp;&nbsp;template: `&lt;app-server&gt;&lt;/app-server&gt;<br />&lt;app-server&gt;&lt;/app-server&gt;`,<br />
    &nbsp;&nbsp;&nbsp;&nbsp;styleUrls: ['./servers.component.sass'],<br />
    &rbrace;)<br /><br />
    export class ServersComponent &lbrace;&rbrace; </span
  ><br /><br />
  <p>
    Choose between inline template (inside Typescript) as above or external file
    with <b><i>templateUrl: "./app.component.html"</i></b>
  </p>
  <br /><br />
  <h3><b>Working with Components styles</b></h3>
  <br />
  <p>
    You can the own component <i>'.css'</i> file to style the component
    differently or use the own component Typescript file to style directly in
    the key 'style':
  </p>
  <br />
  <span class="code" style="border: none">
    @Component(&lbrace;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;selector: "app-root",<br />
    &nbsp;&nbsp;&nbsp;&nbsp;templateUrl: "./app.component.html", <br />
    &nbsp;&nbsp;&nbsp;&nbsp;styles: [`<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;h3
    &lbrace;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:
    dodgerblue;
    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rbrace;
    <br />&nbsp;&nbsp;&nbsp;&nbsp;`] <br />&rbrace;)</span
  ><br /><br />
  <p>
    Choose between inline style (inside Typescript) as above or external file
    with <b><i>styleUrls: ['./app.component.scss']</i></b>
  </p>
  <br /><br />
  <h3><b>Fully Understanding the Component Selector</b></h3>
  <br />
  <p>
    Since we define selector similar to CSS stylesheet, just typing the name
    like <b><i>'app-server'</i></b
    >, we have another way to use selector:
  </p>
  <br />
  <h5><b>Selector by attribute</b></h5>
  <br />
  <span class="code">selector: "[app-servers]"</span>
  <br /><br />
  To display it, in the HTML this must added like this:<br /><br />
  <span class="code"> &lt;div app-servers&gt;&lt;/div&gt; </span><br /><br />
  <br />
  <h5><b>Selector by class</b></h5>
  <br />
  <span class="code">selector: ".app-servers"</span>
  <br /><br />
  To display it, in the HTML this must added like this:<br /><br />
  <span class="code"> &lt;div class="app-servers"&gt;&lt;/div&gt; </span
  ><br /><br />
  <ul>
    <li>
      Must be a unique selector, preferencially following the standard
      <b><i>'app-nameapp'</i></b>
    </li>
    <li>
      The recommended way to declare selector is still
      <span class="code">selector: 'app-servers'</span>
    </li>
  </ul>
  <br /><br />
  <h3><b>What is Databinding</b></h3>
  <br />
  <p>
    It's the communication between your Typescript code (business logic) and
    your template (HTML).<br /><br />
    We can <b>Output Data</b> from the TS file to HTML template, using:
  </p>
  <ul>
    <li>
      <b>String Interpolation</b> (<span class="code"
        >&lbrace; &lbrace; data &rbrace; &rbrace;</span
      >)
    </li>
    <li>
      <b>Property Binding</b> (<span class="code"
        >&lbrack;property&rbrack;="data"</span
      >)
    </li>
  </ul>
  <br />
  <p>
    We can <b>React to (User) Events</b> from HTML template to TS file, using:
  </p>
  <ul>
    <li>
      <b>Event Binding</b> (<span class="code"
        >&lpar;event&rpar;="expression"</span
      >)
    </li>
  </ul>
  <p>
    Combining of both: <b>Two-Way-Binding</b> (<span class="code"
      >&lbrack;&lpar;ngModel&rpar;&rbrack;="data"</span
    >)
  </p>
  <br /><br />
  <h3><b>String Interpolation</b></h3>
  <br />
  <p>
    Supposing we want to output to template a server ID and status, two dynamic
    informations.<br /><br />Using the <b><i>'server.component'</i></b
    >, in the Typescript file, we add the variables:
  </p>
  <span class="code" style="border: none">
    export class ServerComponent &lbrace;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;serverId: number = 10;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;serverStatus: string = 'offline';<br />
    &rbrace;<br /> </span
  ><br />
  <p class="obs">
    Any expression that can be solved/converted to a string in the end, that's
    the condition for a string interpolation
  </p>
  <br />
  <p>
    In the <b><i>'component.html'</i></b> file, you can add:<br /><br />
    <span class="code"
      >&lt;p&gt; &lbrace; &lbrace; 'Server' &rbrace; &rbrace; with ID &lbrace;
      &lbrace; serverId &rbrace; &rbrace; is &lbrace; &lbrace; serverStatus
      &rbrace; &rbrace; &lt;/p&gt;</span
    >
  </p>
  <br />
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-server></app-server></div>
  </div>
  <br />
  <p>The restrictions is that you <b>can't</b> write:</p>
  <ul>
    <li>multiple lines expression</li>
    <li>block expression</li>
    <li>'if' or 'for' structure</li>
  </ul>
  <br />
  <p>
    But you can write a <b>ternary expression:</b><br /><br />
    <span class="code"
      >(age >= 18) ? console.log("Can Vote") : console.log("Cannot Vote");</span
    >
  </p>
  <br />
  <p>And you can also use a <b>method:</b></p>
  <p>In the Typescript file:</p>
  <span class="code" style="border: none">
    export class ServerComponent &lbrace;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;serverId: number = 10;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;serverStatus: string = 'offline';<br /><br />
    getServerStatus&lpar;&rpar;&lbrace;<br />&nbsp;&nbsp;&nbsp;&nbsp;return
    this.serverStatus; <br />&rbrace; </span
  ><br /><br />
  <p>In the HTML:</p>
  <span class="code"
    >&lt;p&gt; Server with ID &lbrace; &lbrace; serverId &rbrace; &rbrace; is
    &lbrace; &lbrace; getServerStatus() &rbrace; &rbrace; &lt;/p&gt;</span
  ><br /><br />
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-server></app-server></div>
  </div>
  <br /><br />
  <h3><b>Property Binding</b></h3>
  <br />
  <p>
    Supposing we want to allow user <b>add</b> a new server - button must be
    enable to user after certain time:<br /><br />We add a button 'Add server'
    at the template and the code in the Typescript file:<br /><br />
    <span class="code" style="border: none">
      export class ServersComponent &lbrace;<br />
      &nbsp;&nbsp;&nbsp;&nbsp;allowNewServer = false;<br />
      &nbsp;&nbsp;&nbsp;&nbsp;constructor() &lbrace;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;setTimeout(()
      => &lbrace;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.allowNewServer
      = true;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rbrace;,2000);<br />&nbsp;&nbsp;&nbsp;&nbsp;&rbrace;<br />
      &nbsp;&nbsp;&nbsp;&nbsp;ngOnInit(): void &lbrace;&rbrace;<br />
      &rbrace;
    </span>
  </p>
  <br />
  <p>
    In HTML, we're going to <b>bind</b> the <i>disabled</i> property to our
    expression written before, that with the <i>setTimeout()</i> method, after
    the <i>'2000'</i> miliseconds defined, will set <i>'true'</i> to the
    'allowNewServer' property, enabling the button
  </p>
  <br />
  <span class="code">
    &lt;button class="btn btn-primary" &lbrack;disabled]="!allowNewServer">Add
    server&lt;/button> </span
  ><br /><br />
  <p class="obs">
    &lbrack;disabled]="!allowNewServer" is read like: 'disabled' property will
    only be true if 'allowNewServer' is false
  </p>
  <br /><br />
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-servers></app-servers></div>
  </div>
  <br /><br />
  <h3><b>Property Binding vs String Interpolation</b></h3>
  <br />
  <p>
    If in the case we also want to output the value of the new server, we could
    use <b>string interpolation</b>:
  </p>
  <span class="code"
    >&lt;p>&lbrace; &lbrace; allowNewServer &rbrace; &rbrace;&lt;/p></span
  ><br /><span class="obs">Boolean values can be translated to string</span
  ><br /><br />
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-servers></app-servers></div>
  </div>
  <br /><br />
  <p>
    But this is case where we can also use
    <b>property binding instead string interpolation</b> to get the same result:
  </p>
  <span class="code">&lt;p &lbrack;innerText]="allowNewServer">&lt;/p></span>
  <br /><br /><br />
  <p><b>Which one should I use?</b></p>
  <p>
    If you want to output just <b>text</b> basically, use
    <b>string interpolation</b>;<br /><br />If you want to
    <b>change some property</b>, be of a
    <b>HTML file or a directive component</b>, use <b>property binding</b>
  </p>
  <br />
  <p><b>DON'T MIX</b> property binding and string interpolation:</p>
  <span class="code"
    >&lt;p &lbrack;innerText]="&lbrace; &lbrace;allowNewServer &rbrace;
    &rbrace;">&lt;/p></span
  >
  <br /><br /><br />
  <h3><b>Event Binding</b></h3>
  <br />
  <p>
    When user clicks on the button 'Add Server', we want to react at this event.
    So, in the <b><i>component.ts</i></b
    >, we create the property:
  </p>
  <p>
    <span class="code">serverCreationStatus = 'No server was created!';</span>
  </p>
  <p>And the method:</p>
  <p>
    <span class="code" style="border: none"
      >onCreateServer() &lbrace;<br />
      &nbsp;&nbsp;&nbsp;&nbsp;this.serverCreationStatus = 'Server was created!';
      <br />&rbrace;</span
    >
  </p>
  <p class="obs">
    Beggining the method name with 'on..' make more easy to know that is a event
    binding, some reaction to user action
  </p>
  <p>
    In the HTML (of the same method component !), we <b>comment</b> the
    <span class="code"
      >&lt;p &lbrack;innerText]="&lbrace; &lbrace;allowNewServer &rbrace;
      &rbrace;">&lt;/p></span
    >
    and add:
  </p>
  <p>
    <span class="code"
      >&lt;p>&lbrace; &lbrace; serverCreationStatus &rbrace;
      &rbrace;&lt;/p></span
    >
  </p>
  <p>To the button 'Add Server', we add:</p>
  <p><span class="code">&lpar;click&rpar;="onCreateServer()"</span></p>
  <p>So when clicked, the string changes to 'Server was created'</p>
  <p class="obs">
    *Property Binding uses '[ ]', while Event Binding uses '( )'
  </p>
  <div class="card">
    <div class="card-header"><b>Result View</b></div>
    <div class="card-body"><app-servers></app-servers></div>
  </div>
  <br /><br /><br />
  <h3><b>Bindable Properties and Events</b></h3>
  <br />
  <p>
    How do you know to which Properties or Events of HTML Elements you may bind?
    You can basically bind to all Properties and Events - a good idea is to
    <span class="code">console.log()</span> the element you're interested in to
    see which properties and events it offers.
  </p>
  <p>
    <b>Important:</b> For events, you don't bind to onclick but only to click
    (=> (click)).
  </p>
  <p>
    The MDN (Mozilla Developer Network) offers nice lists of all properties and
    events of the element you're interested in. Googling for
    <span class="code">YOUR_ELEMENT properties</span> or
    <span class="code">YOUR_ELEMENT events</span> should yield nice results.
  </p>
</div>
