<div class="container">
  <div style="text-align: center">
    <br />
    <h1>Welcome to {{ title }}!</h1>
    <img
      width="300"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </div>
  <br />
  <h2>Here are some links to help you start:</h2>
  <ul>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
          >Tour of Heroes</a
        >
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/cli"
          >CLI Documentation</a
        >
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/"
          >Angular blog</a
        >
      </h2>
    </li>
  </ul>
  <hr />
  <br />
  <h1 id="1"><b>#1 Getting Started</b></h1>
  <br /><br />
  <h3><b>Course Structure</b></h3>
  <br />
  <ul>
    <li>
      <b><a href="#1">1. Getting Started</a></b>
    </li>
    <li>
      <b><a href="#2">2. The Basics</a></b>
    </li>
    <li>
      <b><a href="#3">3. Components & Databinding</a></b>
    </li>
    <li>
      <b><a href="#4">4. Directives</a></b>
    </li>
    <li>
      <b><a href="#5">5. Services & Dependency Injection</a></b>
    </li>
    <li>
      <b><a href="#6">6. Rounting</a></b>
    </li>
    <li>
      <b><a href="#7">7. Observables</a></b>
    </li>
    <li>
      <b><a href="#8">8. Forms</a></b>
    </li>
    <li>
      <b><a href="#9">9. PIpes</a></b>
    </li>
    <li>
      <b><a href="#10">10. HTTP</a></b>
    </li>
    <li>
      <b><a href="#11">11. Authentication</a></b>
    </li>
    <li>
      <b><a href="#12">12. Optimizations & NgModules</a></b>
    </li>
    <li>
      <b><a href="#13">13. Deployment</a></b>
    </li>
    <li>
      <b><a href="#14">14. Animations & Testing</a></b>
    </li>
  </ul>
  <br /><br />
  <h3><b>Whats is Angular?</b></h3>
  <br />
  <p>
    Angular is Javascript Framework which allows you to create reactive
    Single-Page-Applications (SPAs)<br /><br />
    A SPA is single html file where you can navigate between different pages,
    but never actually leave that html, with the changes being rendered in the
    browser. It gives user a very reactive experience, creating a web
    application which looks and feel like mobile apps, very fast and instant.
    The data from server is loaded in the backgorund to user not need to leave
    the page and wait it to load again events.
    <br /><br />
    It's possible because JS changes the DOM during the runtime, thats why we
    don't see a load page, because where changing just the current page.
  </p>
  <br /><br />
  <h3><b>CLI Deep Dive & Troubleshooting</b></h3>
  <br />
  <p>
    If you want to dive deeper into the CLI and learn more about its usage, have
    a look at its official documentation:
    <a href="https://github.com/angular/angular-cli/wiki"
      >https://github.com/angular/angular-cli/wiki</a
    >
    <br /><br />
    <b
      >You encountered issues during the installation of the CLI or setup of a
      new Angular project?</b
    >
    <br /><br />
    A lot of problems are solved by making sure you're using the latest version
    of NodeJS, npm and the CLI itself.
    <br /><br />
    <b>Updating NodeJS:</b><br /><br />

    Go to <a href="nodejs.org">nodejs.org</a> and download the latest version -
    uninstall (all) installed versions on your machine first. <br /><br />
    <b>Updating npm:</b>
    <br /><br />
    Run <span class="code">[sudo] npm install -g npm</span> (<i>sudo</i> is only
    required on Mac/ Linux) <br /><br />
    <b>Updating the CLI</b>
    <br /><br />
    <span class="code">[sudo] npm uninstall -g angular-cli @angular/cli</span
    ><br /><br />
    <span class="code">npm cache verify</span><br /><br />
    <span class="code">[sudo] npm install -g @angular/cli</span><br /><br />

    <b>Here are some common issues & solutions:</b> <br /><br />
    <b>1. Creation of a new project takes forever (longer than 3 minutes)</b
    ><br />That happens on Windows from time to time => Try running the command
    line as administrator<br /><br />
    <b>2. You get an EADDR error (Address already in use)</b><br />
    You might already have another ng serve process running - make sure to quit
    that or use <span class="code">ng serve --port ANOTHERPORT</span> to serve
    your project on a new port<br /><br />
    <b>3. My changes are not reflected in the browser (App is not compiling)</b
    ><br />
    Check if the window running <span class="code">ng serve</span> displays an
    error. If that's not the case, make sure you're using the latest CLI version
    and try restarting your CLI
  </p>
  <br /><br />
  <h3><b>Project Setup and First App</b></h3>
  <br />
  <p>
    For that, we'll use CLI, the official Angular command line interface. It's
    the recommended way to create Angular projects because they're more complex
    regarding their build workflow<br /><br />
    <b>1. Installing latest version of <a href="nodejs.org">Node.js</a></b
    ><br /><br />
    <b>2. Installing Angular</b><br /><br />
    Run <span class="code">npm install -g @angular/cli@latest</span> (@latest is
    optional)<br /><br />
    <b>3. Create you Angular project</b><br /><br />
    Navigate to the folder that you want to create the project (cd path/...) and
    run <span class="code">ng new project-name</span><br />CLI will give some
    choices to do to config the project the way you want.<br /><br />
    When it finished, navigate to your project folder and run
    <span class="code">ng serve</span><br /><br />
    The server runs at the <a href="localhost:4200">localhost:4200</a> by
    default <br /><br />
    <b>4. Installing and Config Bootstrap</b><br /><br />
    In your terminal/cmd, run
    <span class="code">npm install --save bootstrap@latest </span><br />(here
    we're installing it locally, without the <i>-g</i>)<br /><br />
    After finished, open your <i>angular.json</i> file and in the
    <i>styles:</i> key, add the bootstrap file path localed in the
    <i>node_modules</i> folder:<br /><br />
    <i
      >"styles": [<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"src/styles.scss",<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"src/stylesheet.css",<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"node_modules/bootstrap/dist/css/bootstrap.min.css",<br />
      &nbsp;&nbsp;&nbsp;&nbsp;"node_modules/bootstrap/scss/bootstrap.scss"<br />
      ],</i
    ><br /><br />
    You can add any stylesheet file you need.
  </p>
  <br /><br />
  <h3><b>What is Typescript ?</b></h3>
  <br />
  <p>
    It's a superset of JS, with more feature than Vanilla JS (e.g. Types,
    Classes, Interfaces,...). The code errors can be verify while you write, and
    not just when you run it.<br />
    But TS is not execute in the browser, so it's compiled to JS in the end by
    the the Angular project manager CLI
  </p>
  <br /><br />
  <h3><b>About the Course Code / Code Snapshots</b></h3>
  <br />
  <p>
    <b>Do you get some strange error? Are you stuck?</b><br /><br />
    <b>One important note:</b> All the course code will only work if you are
    <b>NOT using "strict mode"</b> see the "First App" lecture in this module.
    Strict mode forces you to write more verbose code in some places (especially
    when it comes to class properties). If you enabled it by accident, you can
    also disable it by setting <span class="code">strict: false</span> in your
    <span class="code">tsconfig.json</span> file.<br /><br />Due to dependency
    version mismatches, running the attachments might fail though - in that
    case, you can try the following:<br /><br />
    1&rpar; Create a new project via
    <span class="code">ng new my-project --strict false</span> (the
    <span class="code">--strict false</span> part is important!) 2&rpar; Copy
    the content of the ZIP attachment <span class="code">src/app</span> folder
    into the newly created project <span class="code">src/app</span> folder.
    3&rpar; Run your project (<span class="code">my-project</span>) via
    <span class="code">ng serve</span>
    If you're getting errors when running <span class="code">npm install</span>,
    you can often solve them by running
    <span class="code">npm install --legacy-peer-deps</span> instead of
    <span class="code">npm install</span>
  </p>
</div>
