/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
span {
  &.code {
    color: chocolate;
    font-family: monospace;
    border: 1px solid lightgray;
    padding: 0.05rem 0.2rem;
  }
}
