/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  white-space: break-spaces;
}
.code {
  color: chocolate;
  font-family: monospace;
  border: 1px solid lightgray;
  padding: 0.05rem 0.2rem;
  &.no-border {
    border: none;
  }
}

.obs {
  color: rgb(139, 139, 139);
  font-size: 12px;
}
img {
  max-width: 100%;
}
